.team2{
	background-image: url("/home/bigdrop1/Desktop/tabs (copy)/assets/bg-page.png");
	background-size: cover;

}
.a1{
	width: 450px;
}
.a2{
	width: 450px;
}
.a3{
	width: 450px;
}
.a4{
	width: 450px;
}
.c1{
	padding: 0 0 0 140px;
}
.c3{
	padding: 0 0 0 140px;
}
.a5{
	padding: 0 0 0 158px;
}
.r1{
	padding: 13px 0px 0 0px;
}
/*.r2{
	padding: 0px 8px 0 9px;
}*/